.container {
    width: 100px;
    min-height: 400px;
    background: #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 44px 30px;
}
.btn {
    margin-left :  300px;
}
h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
}
label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.sidebar {
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #000000;
	z-index: 100;
	transition: width 300ms;
}

.sidebar-brand {
	height: 90px;
	padding: 1rem 0rem 1rem 2rem;
	color: #fff;
}

.sidebar-brand span {
	display: inline-block;
	text-align: center;
}

.sidebar .sidebar-menu .item .menu-btn:hover {
	color:  #EB1D36;
}

.sidebar .sidebar-menu .item .menu-btn i {
	margin-right: 20px;
}
.sidebar .sidebar-menu .item .menu-btn {
	color: #B9FFF8;
	position: relative;
	padding: 25px 20px;
	text-decoration: none;
}

.sidebar .sidebar-menu .item .menu-btn:hover {
	color:  #EB1D36;
}

.sidebar .sidebar-menu .item .menu-btn i {
	margin-right: 20px;
}

.sidebar .sidebar-menu .item .menu-btn .drop-down {
	float: right;
	font-size: 12px;
	margin-top: 3px;
}

.sidebar .sidebar-menu .item .sub-menu {
	background: #F7ECDE;
	overflow: hidden;
	max-height: 0;
	transition: 0.5s;
	transition-property: background, max-height;
}

.sidebar .sidebar-menu .item .sub-menu a {
	display: block;
	position: relative;
	color: #EC7272;
	white-space: nowrap;
	font-size: 15px;
	padding: 20px;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	transition: 0.5s;
	transition-property: background;
}

.sidebar .sidebar-menu .item .sub-menu a:hover {
	background:  white;
}

.sidebar .sidebar-menu .item .sub-menu i {
	padding-right: 20px;
	font-size: 0px;
}

.sidebar .sidebar-menu .item:target .sub-menu {
	max-height: 500px;
}


#nav-toggle:checked + .sidebar {
	width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
	padding-left: 1rem;
	text-align: center;
}

#nav-toggle:checked + .sidebar li a {
	padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
	display: none;
}

#nav-toggle:checked ~ .maint-content {
	margin-left: 70px;
}

#nav-toggle:checked ~ .maint-content header {
	width: calc(100% - 70px);
	left: 70px;
}


